streamlit
streamlit-audiorecorder
streamlit-audiorec
chainlit
TTS
face_alignment
imageio
imageio-ffmpeg
librosa
numba
resampy
pydub
scipy
kornia
yacs
pyyaml
joblib
scikit-image
basicsr
facexlib
gfpgan
av
safetensors